@inherits LayoutComponentBase

<div class="app-layout">
    <main>
        @Body
    </main>
    <footer class="app-footer">
        <span>Copyright &copy; 2025-2026 Ricardo Aguirre. All Rights Reserved.</span>
    </footer>
</div>
